<TABLE ID="TITLE" CLASS="fix">
  <tr>
    <td>児童指導員関係（一覧）</td>
  </tr>  
</TABLE>

<TABLE ID="menu2" CLASS="part">
  <tr>
    <td colspan=32 style="text-align:right">
      <span style="margin-right:20px">レコード数：<%= @rels.size %>件</span>
      <%= link_to '新規登録', new_rel_path %>
    </td>
  </tr>
  <tr>
    <% 31.times do |i| %>
    <td></td>
    <% end %>
    <td onmouseover="this.style.background='red';this.style.cursor='pointer'"
        onmouseout="this.style.background='white';" onclick="alert('bang')"></td>
  </tr>
  <tr>
    <th colspan=8>児童ID/氏名</th>
    <th colspan=8>ｽﾀｯﾌID/氏名</th>
    <th colspan=4>関　係</th>
    <th colspan=6>期　限</th>
    <th colspan=6>備　考</th>
  </tr>
<% for rel in @rels %>
  <tr>
    <td colspan=8>
      <%= link_to(rel.boy.id, :action => "index", :boy_id => rel.boy_id) %><br>
      <%=h rel.boy.name %>
    </td>
    <td colspan=8>
      <%= link_to(rel.staff.id, :action => "index", :staff_id => rel.staff_id) %><br>
      <%=h rel.staff.name %><br>
    </td>
    <td colspan=4><%=h rel.relation %></td>
    <td colspan=6><%=h rel.date_expired %></td>
    <td colspan=5><%=h rel.misc %></td>
    <td colspan=1><%= link_to image_tag("edit.gif", :border=>0), edit_rel_path(rel) %></td>
  </tr>
<% end %>
</table>