<TABLE ID="TITLE" CLASS="fix">
  <tr>
    <td> 児童ケース記録（一覧）</td>
  </tr>  
</TABLE>

<TABLE ID="menu2" CLASS="part"> 
<tr>
  <td colspan=32 style="text-align:right; ">
    <span style="margin-right:20px">レコード数：<%= @case_recs.size %>件</span>
    <%= link_to '新規登録', new_case_rec_path %>
  </td>
</tr>
  <tr>
    <% 31.times do |i| %>
    <td></td>
    <% end %>
    <td onmouseover="this.style.background='red';this.style.cursor='pointer'"
        onmouseout="this.style.background='white';" onclick="alert('bang')"></td>
  </tr>
  <tr>
    <th colspan=4>児童ID</th>
    <th colspan=7>児童名/ﾌﾘｶﾞﾅ</th>
    <th colspan=5>生年月日</td>
    <th colspan=2 style="text-align:center;">年齢</td>
    <th colspan=2 style="text-align:center;">性別</td>
    <th colspan=12>備　考</th>
  </tr>

<% for case_rec in @case_recs %>
  <tr>
    <td colspan=4>
      <%=h case_rec.boy_id %>
    </td>
    <td colspan=7>
      <%=h case_rec.boy.name %><br>
      <%=h case_rec.boy.kana_name %>
    </td>
    <td colspan=5>
      <%=h case_rec.boy.birthdate %>
    </td>
    <td colspan=2 style="text-align:center;">
      <%=h case_rec.boy.birthdate.age if case_rec.boy.birthdate %>
    </td>
    <td colspan=2 style="text-align:center;">
      <%=h case_rec.boy.sex %>
    </td>
    <td colspan=10>
      <%=h case_rec.misc %>
    </td>
    <td colspan=1>
      <%= link_to image_tag("show.gif", :border=>0), case_rec %>
    </td>
    <td colspan=1>
      <%= link_to image_tag("edit.gif", :border=>0), edit_case_rec_path(case_rec) %>
    </td>
  </tr>
<% end %>
</table>