<div ID="med_recs">

<table ID="menu2" CLASS="part">
<tr>
<% 32.times do |i| %>
<td></td>
<% end %>
</tr>
<tr>
<th colspan=4>日付/ｽﾀｯﾌ</th>
<th colspan=4>児　童</th>
<th colspan=5>医療機関</th>
<th colspan=4>症状/状況</th>
<th colspan=4>体温/状態</th>
<th colspan=4>保　険</th>
<th colspan=7>備　考</th>

</tr>

<% for med_rec in med_recs %>
<tr>
<td colspan=4>
  <%=h med_rec.date %>
  <%#=h med_rec.staff.name if med_rec.staff %>
  <%= link_to_remote (med_rec.staff.name, :url =>{:controller => :selects,
                                                  :action => "med",
                                                  :id => med_rec,
                                                  :staff => med_rec.staff}) %> 
</td>
<td colspan=4>
  <%= link_to_remote (med_rec.boy.name, :url =>{:controller => :selects,
                                                :action => "med",
                                                :id => med_rec,
                                                :boy => med_rec.boy}) %>
</td>                                                 
<td colspan=5><%=h med_rec.med_inst.name %></td>
<td colspan=4>
  <%=h med_rec.symptom %><br>
  <%=h med_rec.status %>
</td>
<td colspan=4>
  <%=h med_rec.temperature %><br>
  <%=h med_rec.condition %>
</td>
<td colspan=4><%=h med_rec.insulance %></td>
<td colspan=5><%=h med_rec.misc %></td>

<td>
<% if med_rec.staff == current_user.staff %>
  <%= link_to image_tag("edit.gif", :border=>0), edit_med_rec_path(med_rec) %>
<% end %>
</td>

<td>
<% if med_rec.staff == current_user.staff %>
  <%= link_to image_tag("delete.gif", :border=>0), med_rec, :confirm => '本当に削除しますか?', :method => :delete %>
<% end %>  
</td>
</tr>
<% end %>

</table>

</div>