<p>
  <b>Shien keikaku:</b>
  <%=h @tanki_shien_mokuhyo.shien_keikaku_id %>
</p>

<p>
  <b>Kadai:</b>
  <%=h @tanki_shien_mokuhyo.kadai %>
</p>

<p>
  <b>Mokuhyo:</b>
  <%=h @tanki_shien_mokuhyo.mokuhyo %>
</p>

<p>
  <b>Naiyou:</b>
  <%=h @tanki_shien_mokuhyo.naiyou %>
</p>

<p>
  <b>Hyoka:</b>
  <%=h @tanki_shien_mokuhyo.hyoka %>
</p>

<p>
  <b>Date:</b>
  <%=h @tanki_shien_mokuhyo.date %>
</p>


<%= link_to 'Edit', edit_tanki_shien_mokuhyo_path(@tanki_shien_mokuhyo) %> |
<%= link_to 'Back', tanki_shien_mokuhyos_path %>
