<TABLE ID="TITLE" CLASS="fix">
  <tr>
    <td>４月１日現在　在籍児童数</td>
  </tr>  
</TABLE>

<TABLE ID="menu2" CLASS="part">
<tr>
  <th>性別</td>
  <th>全体</td>
  <th>年少児</td>
  <th>小学生</td>
  <th>中学生</td>
  <th>高校生</td>
  <th>その他</td>
</tr>
<tr>
  <th>男子</td>
  <td><%= @otoko.size %></td>
  <td><%= @otoko05 %></td>
  <td><%= @otoko611 %></td>
  <td><%= @otoko1214 %></td>
  <td><%= @otoko1517 %></td>
  <td><%= @otoko1825 %></td>
</tr>
<tr>
  <th>女子</td>
  <td><%= @onna.size %></td>
  <td><%= @onna05 %></td>
  <td><%= @onna611 %></td>
  <td><%= @onna1214 %></td>
  <td><%= @onna1517 %></td>
  <td><%= @onna1825 %></td>
</tr>
</TABLE>